
  <div class="padding-global">
    <div class="container-large">
      <div class="padding-section-large">
        <div class="text-align-center">
          <div class="max-width-large align-left">
            <div class="u-mb-1">
              <div class="signpost">
{{ section.settings.text_signpost_text }}
</div>
              <div class="signpost_line">
              </div>
            </div>
            <div class="text-rich-text heading-style-h1__primary"> {{ section.settings.richtext_h1 }} </div>
            <div class="spacer-small">
            </div>
            <div>
              <p class="text-size-medium">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
              </p>
            </div>
          </div>
        </div>
        <div class="spacer-xxlarge">
        </div>
        {% if blog.articles != blank %}    <div class="products_grid masonry" li-if="blog.articles != blank">
    
          {% for article in blog.articles %}    <div class="blog__card" li-for="article in blog.articles">
                                    
            
                            <a class="blog_card__layout" li-object:href="article.url" href="{{ article.url }}">
              <div class="blog__card-img">
                <div class="number">
                    1
                </div>
                <img class="image" width="auto" height="auto" alt="{{ article.image.alt }}" loading="lazy" li-object:src="article.image | image_url: width: 450" li-object:alt="article.image.alt" src="{{ article.image | image_url: width: 450 }}">
              </div>
              <div class="product-card_details">
                <div class="button-wrapper card_date">
                  <div class="text-size-small" li-object="article.date">{{ article.date }}</div>
                  <div class="text-size-small">
                      -
                  </div>
                  <div class="text-size-small is-author" li-object="article.author">{{ article.author }}</div>
                </div>
                <h3 class="heading-style-h4" li-object="article.title">{{ article.title }}</h3>
                <div class="text-size-regular" li-object="article.excert">{{ article.excerpt }}</div>
                <div class="button-wrapper">
                  <div class="underline-link is--alt u-ml-0">
                    <div>
                        read more
                    </div>
                  </div>
                </div>
              </div>
            </a>
                            
          
                        </div>
{% endfor %}
            </div>
{% endif %}
        <div class="button-wrapper is-center">
          <a class="button is-outline is-pagination-button">
            <div>
                load more
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="embed">
    <script defer src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script defer src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    //init masonry grid
    var masonryContainer = document.querySelector('.masonry');
    if (masonryContainer) {
      imagesLoaded(masonryContainer, function() {
        var msnry = new Masonry(masonryContainer, {
          itemSelector: '.blog__card'
        });
      });
    }
  });
</script>
  </div> {% schema %} {
    "tag": "section",
    "name": "blog",
    "class": "section is-large",
    "settings": [
        {
            "id": "text_signpost_text",
            "type": "text",
            "label": "Signpost Text",
            "default": "\n                  blog\n              "
        },
        {
            "id": "richtext_h1",
            "type": "richtext",
            "label": "H1",
            "default": "<h1><i>Get our latest</i> NEWS &amp; BLOGS</h1>"


        }
    ],
    "presets": [
        {
            "name": "blog",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}

<style>
/* 1) Default all blog images to portrait */
.products_grid .blog__card-img {
  aspect-ratio: 3/4 !important;
  width: 100%;
  object-fit: cover;
  display: block;
}

/* 2) Flip only cards 1,3,7,9,10 → DOM indices 2,4,8,10,11 */
.products_grid > .blog__card:nth-child(1)  .blog__card-img,
.products_grid > .blog__card:nth-child(3)  .blog__card-img,
.products_grid > .blog__card:nth-child(7)  .blog__card-img,
.products_grid > .blog__card:nth-child(8)  .blog__card-img,
.products_grid > .blog__card:nth-child(10)  .blog__card-img,
.products_grid > .blog__card:nth-child(11)  .blog__card-img, 
.products_grid > .blog__card:nth-child(12)  .blog__card-img {
  aspect-ratio: 4/3 !important;
}

.underline-link::before,
.underline-link.is--alt::before,
.underline-link.is--alt::after{
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 0.0625em;
  background-color: #131313;
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
}

.underline-link:hover::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}

/* Alt */
.underline-link.is--alt::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transition-delay: 0.3s;
}
.underline-link.is--alt::after {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transition-delay: 0s;
}

/* 2) Trigger on card hover instead of link hover */
.blog__card:hover .underline-link.is--alt::before {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition-delay: 0s;
}
.blog__card:hover .underline-link.is--alt::after {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition-delay: 0.3s;
}

.is-author:before {
content: "By ";
}

</style>