<div li-setting:option="Hide Announcement Bar" class="announcement_bar">
  <div li-setting:text="Announcement Bar Text">{{ section.settings.announcement }}</div>
</div>
<div
  data-animation="default"
  class="navbar-main_component w-nav"
  data-easing2="ease-out"
  fs-scrolldisable-element="smart-nav"
  data-easing="ease-in"
  data-colour="light"
  data-collapse="none"
  role="banner"
  data-no-scroll="1"
  data-duration="400"
  data-doc-height="1"
  x-data=""
>
  <div class="nav-main_container">
    <a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="nav-main_logo-link w-nav-brand">
      <div class="main-logo-fixed w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 185.66 33.079">
          <path id="Path_19" data-name="Path 19" d="M-78.129,305.834l-.214.16v.54h11.785v-.54l-.213-.16Zm1.706-14.273c0-7.132,1.279-8.382,3.946-8.382,2.719,0,4,1.25,4,8.382,0,7.182-1.28,8.442-4,8.442C-75.143,300-76.423,298.742-76.423,291.561Zm-3.306,0a9.4,9.4,0,0,0,2.346,6.662,6.887,6.887,0,0,0,4.906,2.22,6.911,6.911,0,0,0,4.959-2.22,9.4,9.4,0,0,0,2.346-6.662c0-5.792-3.679-8.822-7.306-8.822C-76.05,282.738-79.729,285.769-79.729,291.561Zm-27.462-9.162v.54l.267.16h1.973c.587,0,.853.26.853.85v21.036c0,.59-.266.85-.853.85h-1.973l-.267.16v.54h13.918a4.04,4.04,0,0,0,2.133-.55c.106-.04.16-.09.213-.11.053.05.053.13.053.3v.36h.533l.16-.22v-4.871l-.16-.23h-.533v3.061c0,1.22-1.226,1.78-2.4,1.78h-6.346c-.64,0-.853-.25-.853-.84V283.948c0-.59.267-.85.853-.85h2.026l.213-.16v-.54Zm55.084,0v.54l.213.16h.906c1.066,0,1.12.91,1.12,1.92v19.965c0,.59-.213.85-.8.85h-2.026l-.213.16v.54h6.666v-.54l-.213-.16h-2.08c-.586,0-.8-.26-.8-.85V285.629c0-.37.16-.59.374-.59a.83.83,0,0,1,.64.38l14.664,20.665a.887.887,0,0,0,.8.45h.693V283.948c0-.59.267-.85.853-.85h2.026l.213-.16v-.54h-6.612v.54l.213.16H-33.5c.586,0,.853.26.853.85v16.334a.478.478,0,0,1-.106.35c0,.05-.053.08-.107.08-.106,0-.267-.09-.427-.32l-11.945-16.874a2.184,2.184,0,0,0-2.08-1.14Zm-106.969,1.44a8.384,8.384,0,0,0-2.4,7.162,4.958,4.958,0,0,0,2.56,3.711c1.813.92,6.719,3.371,8.638,4.271,1.866.86,2.719,1.75,2.453,2.721a6.942,6.942,0,0,1-6.772,5.241,7.12,7.12,0,0,1-6.292-3.881c-.373-.7-.32-1.15.8-1.8.746-.43.693-.99.586-1.22a1.155,1.155,0,0,0-1.12-.87,1.231,1.231,0,0,0-1.12.88,3.848,3.848,0,0,0,.427,3.221,7.525,7.525,0,0,0,6.719,4.151,7.489,7.489,0,0,0,7.252-5.612c1.066-4.361-.213-7.132-4.213-8.992-.907-.43-3.2-1.49-4.533-2.13-2.293-1.13-3.573-2.341-3.786-3.611a3.528,3.528,0,0,1,1.12-2.921,5.826,5.826,0,0,1,4.106-1.82,6.653,6.653,0,0,1,4.159,1.58,2.465,2.465,0,0,1,.96,2.191v1.66H-149l.16-.23V282.5l-.16-.22h-.533v1c0,.52-.053.6-.107.6s-.16-.04-.533-.34a7.217,7.217,0,0,0-4.479-1.68A6.163,6.163,0,0,0-159.076,283.839Zm27.409,10.052a1.078,1.078,0,0,1,0-.59l2.506-7.092,2.56,7.882h-4.479A.753.753,0,0,1-131.667,293.891Zm4.426-12.023a1.357,1.357,0,0,1-1.013.61h-.107l-7.945,22.606c-.16.53-.266.75-.64.75h-1.92l-.266.16v.54h6.612v-.54l-.213-.16h-3.093c-.106,0-.106-.02-.106-.02-.053-.06.053-.34.106-.53l3.306-9.452c.266-.83.746-1.25,1.386-1.25h4.639l3.573,11.023c.053.08.053.2.106.21a1.322,1.322,0,0,1-.213.02h-2.453l-.213.16v.54h9.012v-.54l-.213-.16h-1.066c-.427,0-.533-.06-.586-.33l-8.052-23.656c-.053-.07-.107-.27-.267-.27S-127.134,281.7-127.241,281.868Zm131.5,10.793H14.975v12.553c0,.59-.267.85-.853.85H12.1v.47h9.332v-.47H19.4c-.586,0-.853-.26-.853-.85V292.661H23.72v-.45H18.548v-8.722l-1.12-.32-.053.12a7.533,7.533,0,0,1-2.346,2.441l-.053.05v6.431H7.669a1.346,1.346,0,0,1-1.28-.59,1.335,1.335,0,0,1,.267-1.42l10.718-14.814.107-.12-.373-.29Zm-18.184-.9c0-6.622.907-7.692,3.146-7.692,2.133,0,3.039,1.07,3.039,7.692,0,6.562-.906,7.622-3.039,7.622C-13.02,299.382-13.927,298.322-13.927,291.76Zm-1.546-6.622h0a10.52,10.52,0,0,0-2.506,6.622,7.984,7.984,0,0,0,2.453,6.042,7.186,7.186,0,0,0,4.746,1.981c2.879,0,7.092-2.551,7.092-8.022,0-5.521-4.213-8.092-7.092-8.092q-.32,0-.64.03l.053-.01c-.64,0-1.12-.21-1.28-.59a1.423,1.423,0,0,1,.213-1.42l5.119-7.052-.373-.28Zm-.907,20.705-.213.16v.54H-4.808V306l-.213-.16Z" transform="translate(161.94 -274.346)" fill="currentColor"></path>
        </svg>
      </div>
    </a>
    <div class="nav-menu">
      <a href="/pages/shop-all" class="nav-main_link w-inline-block">
        <div class="nav-link-text">Shop All</div>
      </a>

      <div
        data-delay="100"
        menu-nav_link
        data-hover="false"
        data-w-id="51f084a6-ef53-a40f-664b-f9043522d063"
        class="nav_dropdown hide-tablet w-dropdown"
      >
        <div class="nav_dropdown-trigger w-dropdown-toggle">
          <div class="nav-link-text">Ranges</div>
          <div class="dropdown-chevron w-embed">
            <svg width=" 100%" height=" 100%" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M2.55806 6.29544C2.46043 6.19781 2.46043 6.03952 2.55806 5.94189L3.44195 5.058C3.53958 4.96037 3.69787 4.96037 3.7955 5.058L8.00001 9.26251L12.2045 5.058C12.3021 4.96037 12.4604 4.96037 12.5581 5.058L13.4419 5.94189C13.5396 6.03952 13.5396 6.19781 13.4419 6.29544L8.17678 11.5606C8.07915 11.6582 7.92086 11.6582 7.82323 11.5606L2.55806 6.29544Z" fill="currentColor"></path>
            </svg>
          </div>
        </div>
        <nav class="nav-dropdown_outer w-dropdown-list">
          <div class="nav_dropdown-inner">
            {% for range in shop.metaobjects.range.values %}
              <div li-for="range in shop.metaobjects.range.values" class="nav_dropdown-wrap">
                <a
                  li-object:href="range.system.url"
                  href="{{ range.system.url }}"
                  class="nav-dropdown_link w-inline-block"
                >
                  <div li-object:text="range.meta_title">
                    {{ range.meta_title }}
                  </div>
                </a>
              </div>
            {% endfor -%}
          </div>
        </nav>
      </div>

      <div class="nav-links">
        <a href="/pages/results" class="nav-main_link w-inline-block"><div class="nav-link-text">Results</div></a>
        <a href="/pages/ingredients" class="nav-main_link w-inline-block">
          <div class="nav-link-text">Ingredients</div>
        </a>
      </div>

      <div class="nav-div"></div>

      {% render 'mini_cart' %}
    </div>
    <div id="menu-open-1" class="nav-button">
      <div class="nav-top-line"></div>
      <div class="nav-middle-line"></div>
      <div class="nav-bottom-line"></div>
    </div>
    <div class="navbar-bk"></div>
    <nav role="navigation" class="menu-mobile w-nav-menu">
      <div class="menu-inner">
        <a li-object:href="link.url" href="/pages/results" class="menu-nav_link w-inline-block">
          <div li-setting:text="Link Text">Results</div>
          <div class="menu-arrow-wrap">
            <div class="menu-arrow w-embed">
              <svg width="34" height="19" viewbox="0 0 34 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.9998 9.117C28.9642 9.117 24.8818 5.03464 24.8818 -0.000976562" stroke="#1E1E1E"></path><path d="M24.8818 18.234C24.8818 13.1984 28.9642 9.11621 33.9998 9.11621" stroke="#1E1E1E"></path><line x1="34" y1="9.61621" x2="0.222176" y2="9.61621" stroke="#1E1E1E"></line>
              </svg>
            </div>
          </div>
        </a>
        <a li-object:href="link.url" href="/pages/ingredients" class="menu-nav_link w-inline-block">
          <div li-setting:text="Link Text">Ingredients</div>
          <div class="menu-arrow-wrap">
            <div class="menu-arrow w-embed">
              <svg width="34" height="19" viewbox="0 0 34 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.9998 9.117C28.9642 9.117 24.8818 5.03464 24.8818 -0.000976562" stroke="#1E1E1E"></path><path d="M24.8818 18.234C24.8818 13.1984 28.9642 9.11621 33.9998 9.11621" stroke="#1E1E1E"></path><line x1="34" y1="9.61621" x2="0.222176" y2="9.61621" stroke="#1E1E1E"></line>
              </svg>
            </div>
          </div>
        </a>

        <a href="/pages/shop-all" class="menu-nav_link w-inline-block">
          <div li-setting:text="Link Text">Shop All</div>
          <div class="menu-arrow-wrap">
            <div class="menu-arrow w-embed">
              <svg width="34" height="19" viewbox="0 0 34 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.9998 9.117C28.9642 9.117 24.8818 5.03464 24.8818 -0.000976562" stroke="#1E1E1E"></path><path d="M24.8818 18.234C24.8818 13.1984 28.9642 9.11621 33.9998 9.11621" stroke="#1E1E1E"></path><line x1="34" y1="9.61621" x2="0.222176" y2="9.61621" stroke="#1E1E1E"></line>
              </svg>
            </div>
          </div>
        </a>

        <div class="div-block-7">
          {% for range in shop.metaobjects.range.values %}
            <div li-for="range in shop.metaobjects.range.values">
              <a
                li-object:href="range.system.url"
                href="{{ range.system.url }}"
                class="menu-nav_link w-inline-block"
              >
                <div li-object:text="range.meta_title">
                  {{ range.meta_title }}
                </div>
                <div class="menu-arrow-wrap">
                  <div class="menu-arrow w-embed">
                    <svg width="34" height="19" viewbox="0 0 34 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M33.9998 9.117C28.9642 9.117 24.8818 5.03464 24.8818 -0.000976562" stroke="#1E1E1E"></path><path d="M24.8818 18.234C24.8818 13.1984 28.9642 9.11621 33.9998 9.11621" stroke="#1E1E1E"></path><line x1="34" y1="9.61621" x2="0.222176" y2="9.61621" stroke="#1E1E1E"></line>
                    </svg>
                  </div>
                </div>
              </a>
            </div>
          {% endfor -%}
        </div>
        <a li-object:href="link.url" href="/pages/sign-up" class="menu-nav_link w-inline-block">
          <div li-setting:text="Link Text">Newsletter</div>
          <div class="menu-arrow-wrap">
            <div class="menu-arrow w-embed">
              <svg width="34" height="19" viewbox="0 0 34 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M33.9998 9.117C28.9642 9.117 24.8818 5.03464 24.8818 -0.000976562" stroke="#1E1E1E"></path><path d="M24.8818 18.234C24.8818 13.1984 28.9642 9.11621 33.9998 9.11621" stroke="#1E1E1E"></path><line x1="34" y1="9.61621" x2="0.222176" y2="9.61621" stroke="#1E1E1E"></line>
              </svg>
            </div>
          </div>
        </a>
      </div>
      <div class="menu_mobil-buttons hide">
        <div class="menu-button-wrap">
          <a href="https://www.facebook.com/p/Salon64-100089773750005/" target="_blank" class="button is-menu w-button"
            >facebook</a
          >
        </div>
        <div class="menu-button-div"></div>
        <div class="menu-button-wrap">
          <a href="https://www.instagram.com/salon64london" target="_blank" class="button is-menu w-button"
            >Instagram</a
          >
        </div>
      </div>
    </nav>
  </div>
</div>
{% schema %}
{
  "tag": "div",
  "name": "Navbar Fixed",
  "class": "nav_fixed",
  "settings": [
    {
      "id": "url_link",
      "type": "url",
      "label": "Link"
    },
    {
      "id": "text_link_text",
      "type": "text",
      "label": "Link Text",
      "default": "Shop all"
    },
    {
      "id": "announcement",
      "type": "text",
      "label": "Announcement Bar Text",
      "default": "FREE DELIVERY ON ORDERS OVER £35"
    },

  ],
  "blocks": [
    {
      "name": "Link",
      "type": "link",
      "settings": [
        {
          "id": "url_link",
          "type": "url",
          "label": "Link"
        },
        {
          "id": "text_link_text",
          "type": "text",
          "label": "Link Text",
          "default": "results"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Navbar Fixed",
      "category": "Liquify"
    }
  ]
}
{% endschema %}
