<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="flex_wrap"><div class="flex_12"><div><div class="signpost_wrap"><div class="signpost">
{{ section.settings.text_signpost }}
</div>
<div class="signpost_line"></div></div><h2 class="heading-style-h1"><em>This range is best</em><br>
SUITED FOR</h2></div></div></div><div class="hair-types_grid"><div class="centered_card"><img src="{{ section.settings.image_hair_type_1 | img_url: 'master' }}" alt="{{ section.settings.image_hair_type_1.alt }}" loading="lazy" class="card_img u-mb-1-5"}>
<h2 class="heading-style-h4 is-product">
{{ section.settings.text_hair_type_1_text }}
</h2>
</div><div id="w-node-_0ec67371-8f3f-f71a-ab51-362f591cbc22-40b5c40f" class="centered_card"><img src="{{ section.settings.image_hair_type_2 | img_url: 'master' }}" alt="{{ section.settings.image_hair_type_2.alt }}" loading="lazy" class="card_img u-mb-1-5"}>
<h2 class="heading-style-h4 is-product">
{{ section.settings.text_hair_type_2_text }}
</h2>
</div><div id="w-node-_14fffbbb-fd0a-6a1e-3968-2c0de1f7b17c-40b5c40f" class="centered_card"><img src="{{ section.settings.image_hair_type_3 | img_url: 'master' }}" alt="{{ section.settings.image_hair_type_3.alt }}" loading="lazy" class="card_img u-mb-1-5"}>
<h2 class="heading-style-h4 is-product">
{{ section.settings.text_hair_type_3_text }}
</h2>
</div><div id="w-node-c8b46501-ce1e-ff2b-5e2b-d70084e037f5-40b5c40f" class="centered_card"><img src="{{ section.settings.image_hair_type_4 | img_url: 'master' }}" alt="{{ section.settings.image_hair_type_4.alt }}" loading="lazy" class="card_img u-mb-1-5"}>
<h2 class="heading-style-h4 is-product">
{{ section.settings.text_hair_type_4_text }}
</h2>
</div></div></div></div></div> {% schema %} {"tag":"section","name":"Product Hair Types","class":"section","settings":[{"id":"text_signpost","type":"text","label":"Signpost","default":"creating the gold standard"},{"id":"image_hair_type_1","type":"image_picker","label":"Hair Type 1"},{"id":"text_hair_type_1_text","type":"text","label":"Hair Type 1 Text","default":"Hair that has been coloured"},{"id":"image_hair_type_2","type":"image_picker","label":"Hair Type 2"},{"id":"text_hair_type_2_text","type":"text","label":"Hair Type 2 Text","default":"Hair that has been coloured"},{"id":"image_hair_type_3","type":"image_picker","label":"Hair Type 3"},{"id":"text_hair_type_3_text","type":"text","label":"Hair Type 3 Text","default":"Hair that has been coloured"},{"id":"image_hair_type_4","type":"image_picker","label":"Hair Type 4"},{"id":"text_hair_type_4_text","type":"text","label":"Hair Type 4 Text","default":"Hair that has been coloured"}],"presets":[{"name":"Product Hair Types","category":"Liquify"}]} {% endschema %}