<div class="padding-global"><div class="container-large"><div class="padding-section-large"><div class="product-card_grid"><div id="w-node-c4be0838-480a-aae2-b8f5-7a1395bf24a5-40b5c40f" class="product-card_img-wrap"><img class="product-card_img" src="{{ section.settings.image_image_featured | img_url: 'master' }}" alt="{{ section.settings.image_image_featured.alt }}" sizes="(max-width: 479px) 92vw, (max-width: 991px) 95vw, 49vw" loading="lazy"}>
</div><div id="w-node-e5471948-d7c6-9fa8-f9e7-f9fcd64a19c9-40b5c40f" class="product-card_content"><div class="product-card_content-top"><div class="signpost_wrap"><div class="signpost">
{{ section.settings.text_signpost_text }}
</div>
<div class="signpost_line"></div></div><div class="spacer"><div data-sm="" class="spacer_inner"></div></div><div class="text-rich-text section-richtext w-richtext"> {{ section.settings.richtext_h2_heading }} </div>
</div><div class="product-card_content-bottom"><p>
{{ section.settings.text_paragraph }}
</p>
<div class="hide"><div class="spacer"><div data-md="" class="spacer_inner"></div></div><ul role="list" class="product-card_list">
{{ section.settings.text_ingredients_list }}
</ul>
</div></div></div></div></div></div></div> {% schema %} {"tag":"section","name":"Product Ingredients","class":"section","settings":[{"id":"image_image_featured","type":"image_picker","label":"Image Featured"},{"id":"text_signpost_text","type":"text","label":"Signpost Text","default":"ingredients"},{"id":"richtext_h2_heading","type":"richtext","label":"H2 Heading","default":"<p>\n                      <em>Made with real <\/em>GOLD\n                    <\/p>"},{"id":"text_paragraph","type":"text","label":"Paragraph","default":"Designed to create stronger hair leaving you feeling 24 carat. Made with real Gold used to strengthen and repair hair this product is an industry first. Turning the product world on its head Liquid Gold has revolutionised the market place for anyone looking to transform tired weaker hair."},{"id":"text_ingredients_list","type":"text","label":"Ingredients List","default":"\n                        <li class=\"product-card_list-item\">Made with real Gold<\/li>\n                        <li class=\"product-card_list-item\">Strengthen and repair hair<\/li>\n                      "}],"presets":[{"name":"Product Ingredients","category":"Liquify"}]} {% endschema %}